AWS_ROLE_ARN=Your Role_Arn of your OIDC-circleci
AWS_REGION=Your AWS_REGION 
SAM_STACK_NAME=Your stack name of the SAM
PROJECT_NAME=Your project-name
GITHUB_OWNER=Your Github owner name
GITHUB_REPO=Your Github repo
GITHUB_BASE_BRANCH=Your base branch
GITHUB_TOKEN_PARAMETER_NAME=/aurora-serverless/github/token
TERRAFORM_ROOT_PATH=IaC_Code/root